<!DOCTYPE html>
<html>
  <head>
    <title>Screener Tasks</title>
  </head>
  <body>
    <h1>Screener Tasks</h1>
    <ul>
      {% for t in tasks %}
        {% if t.complete %}
          <li><a href="/screener/{{ t.task_id }}/1">
            {{ t.description }} (complete, {{ t.started }})
          </a></li>
        {% else %}
          <li>{{ t.description }} (incomplete, {{ t.started }})</li>
        {% endif %}
      {% else %}
        <li>No tasks found.</li>
      {% endfor %}
    </ul>
  </body>
</html>
