<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='screener_stock_data.css') }}">
    <title>Chart {{ pagination.current }}</title>
  </head>
  <body>
    <h1>Stock Data</h1>
    <p>{{ pagination.current }} / {{ pagination.total }}</p>

    {% for d in data %}
      <h2>{{ d.symbol }}</h2>
      <div>
        <button data-symbol="{{ d.symbol }}" type="button" class="btn_display_chart">Chart</button>
      </div>
      <table class="financials">
        <tr>
          <th>Date</th>
          <th>EPS</th>
          <th>EPS YoY Change</th>
        </tr>
        {% for f in d.financials %}
          <tr>
            <td>{{ f.date }}</td>
            <td>{{ f.epsdiluted }}</td>
            <td>{{ format_pct(fill_na(f.epsdilutedYoYChangePct)) }}</td>
          </tr>
        {% endfor %}
      </table>
    {% endfor %}

    {% if pagination.prev %}
      <a href="/screener/{{ task_id }}/{{ pagination.prev }}">&lt; prev</a>
    {% endif %}
    {% if pagination.next %}
      <a href="/screener/{{ task_id }}/{{ pagination.next }}">next &gt;</a>
    {% endif %}

    <script src="{{ url_for('scripts', filename='display_chart.js') }}"></script>
  </body>
</html>
